<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
                             http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <description>Here is some description</description>



    <!--<alias name="newsProvider" alias="anAliasOfNewsProvider"/>-->

    <!--<import resource="OTHER_XML_FILE.xml"/>-->


    <bean id = "newsProvider" class = "my.spring.demo.controller.NewsProvider">
        <constructor-arg index="0">
            <ref bean="newsListener"/>
        </constructor-arg>
        <constructor-arg index="1">
            <ref bean="newsPersister"/>
        </constructor-arg>
    </bean>

    <bean id = "newsListener" class = "my.spring.demo.service.impl.FXNewsListener">
    </bean>

    <bean id = "newsPersister" class = "my.spring.demo.service.impl.FXNewsPersister">
    </bean>

</beans>